<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>eu.dennis-jordan.driver.QemuUSBTablet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>${MODULE_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${MODULE_VERSION}</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>QemuUSBTabletHIDDevice</key>
		<dict>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>idProduct</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>1575</integer>
			<key>IOClass</key>
			<string>eu_dennis_jordan_driver_QemuUSBTablet1011</string>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>CFBundleIdentifier</key>
			<string>eu.dennis-jordan.driver.QemuUSBTablet</string>
			<key>AbsoluteAxisBoundsRemovalPercentage</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Phil &amp; Laura Dennis-Jordan. Provided under the GNU Lesser General Public License Version 3</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.0</string>
		<key>com.apple.driver.usb.IOUSBHostHIDDevice</key>
		<string>1.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.0</string>
		<key>com.apple.kpi.mach</key>
		<string>15.0</string>
	</dict>
</dict>
</plist>
