<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>eu.philjordan.driver.QemuUSBTablet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>${MODULE_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${MODULE_VERSION}</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>QemuUSBTabletHIDDevice</key>
		<dict>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>idProduct</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>1575</integer>
			<key>IOClass</key>
			<string>eu_philjordan_driver_QemuUSBTabletDriver</string>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>CFBundleIdentifier</key>
			<string>eu.philjordan.driver.QemuUSBTablet</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014-2015 Phil Jordan. This code made available under the GNU LGPL</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0</string>
		<key>com.apple.iokit.IOUSBHIDDriver</key>
		<string>660.4</string>
		<key>com.apple.kpi.iokit</key>
		<string>13.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>13.0</string>
		<key>com.apple.kpi.mach</key>
		<string>13.0</string>
	</dict>
</dict>
</plist>
